.size-ranking {
  border-radius: 7px;
  box-shadow: 1px 1px 50px 10px rgba(1, 1, 1, 40);
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;
}

.ranking-title {
  align-items: center;
  background: #161616;
  border-radius: 7px 7px 0 0;
  color: white;
  display: flex;
  font-family: Roboto Condense, Verdana, sans-serif;
  font-size: 30px;
  height: 80px;
  justify-content: center;
}

h4 {
  margin: 0;
}

.ranking-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
}

.ranking-img {
  border-radius: 100%;
  width: 50px;
}

table {
  border-collapse: collapse;
}

td , th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
}

.btn-start {
  align-items: center;
  background-color: crimson;
  border-style: none;
  color: white;
  display: flex;
  font-family: Montserrat, sans-serif;
  height: 35px;
  justify-content: center;
  margin-top: 40px;
  width: 250px;
}

.btn-start a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}
