.star {
  display: none;
}

.Star {
  cursor: pointer;
  transition: color 200ms;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #999;
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 10px;
}
