body {
  background-color: rgb(56 , 98 , 136);
  font-family: Roboto, sans-serif;
  text-align: justify;
}

#cabecalho {
  background-color: rgb(43 , 71 , 103);
  height: 60px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1440px;
}

#cabecalho ul {
  padding: 0 65px;
}

ul li {
  height: 21px;
  margin: 0 auto;
  width: 75px;
}

ol li {
  height: 21px;
  margin: 0 auto;
  width: 160px;
}

#cabecalho ul li {
  display: inline-block;
  margin-right: 65px;
}

a {
  color: rgb(128 , 192 , 224);
  text-decoration: none;
}

#rodape a {
  padding: 0 20px;
}

#cabecalho ul li a {
  color: rgb(255 , 195 , 66);
  font-family: Cinzel, serif;
  text-decoration: none;
}

.lado-esquerdo {
  float: left;
  width: 56%;
}

.lado-direito {
  float: right;
  width: 38%;
}

#artigo {
  margin-left: 65px;
  background-color: rgb(229 , 229 , 248);
  border: 2px solid rgb(128 , 192 , 224);
  margin-bottom: 30px;
  padding: 0 20px;
}

#aside {
  background-color: rgb(229 , 229 , 248);
  border: 2px solid rgb(128 , 192 , 224);
  margin: 0 65px 20px 0;
  padding: 0 20px 10px;
}

#rodape {
  clear: both;
  text-align: center;
  margin: 0 65px 25px;
}

#pjo-title {
  display: block;
  margin: 90px auto 30px;
}

#pjo-logo {
  padding: 0 75.25px;
}

#dados {
  margin: 0 auto;
}

.heroi {
  padding: 10px 77.25px 0;
}

#galeria p {
  text-align: center;
  margin: 0;
}

h1 , h2 , h3 , h4 , h5 {
  background-color: rgb(43 , 71 , 103);
  color: rgb(255 , 195 , 66);
  font-family: Cinzel, serif;
  font-weight: 100;
}

.profecia {
  text-align: center;
}
