.buttons {
  align-items: center;
  border: 1px solid crimson;
  color: crimson;
  display: flex;
  height: 35px;
  justify-content: center;
  margin: 10px auto;
  width: 250px;
}

.correct {
  border: 3px solid rgb(6, 240, 15);
}

.incorrect {
  border: 3px solid red;
}
