body {
    background-color: rgba(110, 136, 148, 1);
    font-family: "Arvo";
}

.title {
    color: rgba(103, 89, 122, 1);
    margin: 20px 0 2px;
    text-align: center;
}

.lado-esquerdo {
    background-color: rgba(186, 209, 205, 1);
    border: 2px solid rgba(103, 89, 122, 1);
    float: left;
    height: 400px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 60%;
}

.welcome {
    margin-top: 0;
}

.image {
    margin: 0 0 10px;
}

.text {
    margin: 10px 0 0;
}

.aviso {
    margin-bottom: 5px;
}

.buttons {
    margin: 10px 0 0;
}

.memesSite {
    background-color: rgba(84, 78, 97, 1);
    border: 2px solid rgba(103, 89, 122, 1);
    height: 100px;
    margin: 10px 5px;
    padding: 5px;
    width: 100px;
}

.lado-direito {
    background-color: rgba(186, 209, 205, 1);
    border: 2px solid rgba(103, 89, 122, 1);
    float: right;
    margin: 9.5px 10px 0;
    padding: 20px;
    width: 30%;
}

.editImage {
    background-color: rgba(255, 255, 255, 1);
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 400px;
    width: 400px;
}

.editText {
    color: rgb(0, 0, 0);
    display: flex;
    font-family: "Anton";
    font-size: 35px;
    left: 925px;
    max-width: 400px;
    position: absolute;
    text-transform: uppercase;
    top: 76px;
    word-break: break-all;
    z-index: 10;
}

footer {
    clear: both;
    padding: 10px;
    text-align: center;
}

a {
    color: rgba(103, 89, 122, 1);
    text-decoration: none;
}
