h1 {
  text-align: center;
}

p {
  text-align: center;
}

div {
  border-radius: 100%;
  display: inline-block;
  height: 50px;
  margin: 0 10px;
  width: 50px;
}

.divs {
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
}
